body ,p{
    padding: 0;
    margin: 0;
}
/* 
.navbar_secright li {
   padding:2.5px 0rem 0px 1rem ;
   font-size: 18px;
} */
/* .hero{

    background-image: url('assets/Group\ 249.svg');
   width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;   
} */
/* nav{
    height: 80px;
}

a{
    color: rgb(255, 255, 255);
}
.logo{
    min-width: 250px;
    font-size: 20px;
    font-weight:700 ;
}
.form-control ,.searchbtn{
    height: 35px;
    background-color: brown;
}
*/
/* .girl{
    background-image: url('assets/Mask\ Group\ 2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 120%;   
    height:120%;   
    bottom: 145px;
    right: 64px;
    min-height:200px;
    min-width:200px;
} */
#Group_250 {
  fill:#209dd8;
}



@media only screen and (min-width: 992px) {
.myimg {
    flex: 0 0 auto;
    width: 40%;
    margin: auto;
}
}
#hero {
    width: 100%;
    height: 100vh;
    background-image: url('assets/herobg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  /* #hero .container {
    padding-top: 72px; 
  } */
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
  }
  
  #hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
  }
  
  #hero .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
  }
  
  #hero .btn-get-started:hover {
    background: #209dd8;
  }
  
  #hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
  }
  
  #hero .btn-watch-video i {
    line-height: 0;
    color: #fff;
    font-size: 32px;
    transition: 0.3s;
    margin-right: 8px;
  }
  
  #hero .btn-watch-video:hover i {
    color: #47b2e4;
  }
  
  #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @media (max-width: 991px) {
    #hero {
      height: 100vh;
      text-align: center;
    }
  
    #hero .animated {
      -webkit-animation: none;
      animation: none;
    }
  
    #hero .hero-img {
      text-align: center;
    }
  
    #hero .hero-img img {
      width: 50%;
    }
  }
  
.btn-light {
  color:#5375E2;
  font-size: 18px;
}

  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    #hero .hero-img img {
      width: 70%;
    }
  }
  
  @media (max-width: 575px) {
    #hero .hero-img img {
      width: 80%;
    }
  
    #hero .btn-get-started {
      font-size: 16px;
      padding: 10px 24px 11px 24px;
    }
  }



  .bg-info{
    background-size: 100px;
  }

  .container {
    justify-content: flex-start;
    /* flex-flow: nowrap; */
  }
  nav {
    margin-left: 15%;
  }

  .img-bg {
   background-color:  #3C539C;
  }
  /* .half-circle {
    top: 85%;

}

  @media screen and (min-width:1364px){

  .half-circle {
    transition: 1s;
    top: 87%;
  }
}
@media screen and (max-width:1364px){

    .half-circle {
        top: 89%;
  
    }
  } */
/* comment section */

.comment {
  margin: auto;
  width: 70%;
}
@media screen and (min-width:700px) {
  .comment {
    margin: auto;
    width: 50%;
  }
}
.commentsection {
  justify-content: center;
}

/* .person:nth-child(odd){
opacity: .3;
margin-top: 10px;
  
} */

.person :nth-child(even) img {
width:10%;
    
  }

@media only screen and(max-width:992px){
  .achievement {
    margin:auto !important;
  }
 
}
